.HeaderBackground{
    background-color: rgb(51, 51, 51);
    width: 100%;
    align-content: center
}
.Image{
    align-self: center;
    width: 100%;
}
@keyframes Arrow2{
    from {margin-top: 0vmax;}
    to{margin-top: 3vmax;}
}
@keyframes Arrow{
    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(30px);
    }
    40% {
        transform: translateY(42px);
    }
    60% {
        transform: translateY(50px);
}
}

#Arrow{
   margin-left: 50vmax;
   color:  dimgray;
   z-index: 2;
   cursor: pointer;
   position: absolute;
   animation-name: Arrow;
   animation-duration: 2s;
   animation-iteration-count: infinite
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb
{
	background-color:  rgba(0,0,0,.87);
}
#language{
    color:  lime;
    height: 30px;
    z-index: 20;
 }
