#LinkedIn{
   margin-left: 90vmax;
   color:  lime;
   height: 30px;
   z-index: 2;
   margin-top: 35vmax;
   position: absolute;
}
#Github{
    margin-left: 92.5vmax;
    color:  lime;
    height: 30px;
    z-index: 2;
    margin-top: 35vmax;
    position: absolute;
 }

#head{
    z-index: 1;
    position: relative;
}
.Image{
    align-self: center;
    width: 100%;
    z-index: 1;
    position: relative;
} 
#mobileLanguage{
    margin-left: 18.5vmax;
    color:  lime;
    height: 30px;
    z-index: 2;
    position: absolute;
 }
 #mobilehead{
    z-index: 1;
    position: relative;
}